
  <form class="form-search" action="/users/search/" method="GET">
    <div class="input-append" align="center">
        <input type="text" class="span2 search-query" name="id">
        <button type="submit" class="btn">Search</button>
    </div>
  </form>

  <div class="container">
  
  </div>
