<!doctype html>
<head>
	<!--<meta http-equiv="Content-type" content="text/html; charset=utf-8"> -->
	<title>BYU Dropbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/bootstrap-theme.min.css" rel="stylesheet">
    <script src="/assets/dhtmlxscheduler.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/ext/dhtmlxscheduler_minical.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/assets/dhtmlxscheduler.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
	
<style type="text/css" media="screen">
	html, body{
		margin:0px;
		padding:0px;
		height:100%;
		overflow:hidden;
	}	
</style>

<script type="text/javascript" charset="utf-8">
	function init() {
		scheduler.config.multi_day = true;
		scheduler.config.xml_date="%Y-%m-%d %H:%i";
		scheduler.init('scheduler_here',new Date(),"week");
		//scheduler.load("./data/events.xml");
		
	}
	
	function show_minical(){
		if (scheduler.isCalendarVisible())
			scheduler.destroyCalendar();
		else
			scheduler.renderCalendar({
				position:"dhx_minical_icon",
				date:scheduler._date,
				navigation:true,
				handler:function(date,calendar){
					scheduler.setCurrentView(date);
					scheduler.destroyCalendar()
				}
			});
	}
	
</script>

<body onload="init();">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/bootstrap.min.js"></script>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">BYU Dropbox</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" a href="/home">BYU Dropbox</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Documents</a></li>
            <li><a href="/shared">Shared With Me</a></li>
            <li><a href="/users">User Search</a></li>
            <li class="active" data-no-turbolink><a href="/calendar">Calendar</a></li>
            <li><a href="/to-do">To-Do List</a></li>
            <li><a href="/signin">Sign In</a></li>
            <li><button type="upload-doc-button" class="btn btn-default" style="margin-top:8px;">Upload Document</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
		<div class="dhx_cal_navline">
			<div class="dhx_cal_prev_button">&nbsp;</div>
			<div class="dhx_cal_next_button">&nbsp;</div>
			<div class="dhx_cal_today_button"></div>
			<div class="dhx_cal_date"></div>
			<div class="dhx_minical_icon" id="dhx_minical_icon" onclick="show_minical()">&nbsp;</div>
			<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
			<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
			<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
		</div>
		<div class="dhx_cal_header">
		</div>
		<div class="dhx_cal_data">
		</div>
	</div>
</body>