  <ol class="breadcrumb">
       <li><a href="#">rbirdman</a></li>
       <li><a href="#">CS 104</a></li>
       <li class="active">Projects</li>
  </ol>

  <div class="container">
  <table class="table">
    <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Modified</th>
            <th>Permissions</th>
          </tr>
        </thead>
        <!--
        <tbody>
          <tr>
            <td>CS 360 Study Guide</td>
            <td>Folder </td>
            <td>12/1/2013</td>
            <td>Read/Write</td>
          </tr>
          <tr>
            <td>Web Server</td>
            <td>Folder</td>
            <td>11/28/2013</td>
            <td>Read/Write</td>
          </tr>
          <tr>
            <td>ENGL 316 Notes</td>
            <td>File</td>
            <td>11/14/2013</td>
            <td>Read Only</td>
          </tr>
        </tbody>
        -->
  </table>
  </div>
