  <ol class="breadcrumb">
       <li><a href="#">Dropbox Group</a></li>
       <li><a href="#">Dropbox folder</a></li>
       <li class="active">src</li>
  </ol>
  <div class="container">
  <table class="table">
    <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Modified</th>
            <th>Shared By</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CS 360 Study Guide</td>
            <td>Folder </td>
            <td>12/1/2013</td>
            <td>Ryan Bird</td>
          </tr>
          <tr>
            <td>Web Server</td>
            <td>Folder</td>
            <td>11/28/2013</td>
            <td>Professor Zappala</td>
          </tr>
          <tr>
            <td>ENGL 316 Notes</td>
            <td>File</td>
            <td>11/14/2013</td>
            <td>Gandalf</td>
          </tr>
        </tbody>
  </table>
  </div>
