  <div class="container">
  <table class="table">
    <thead>
          <tr>
            <th>Title</th>
            <th>Details</th>
            <th>Due Date</th>
            <th>Resources</th>
            <th>Completed</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>CS 360 Reading</td>
            <td>pgs. 100-135</td>
            <td>11/20/13 3:00pm</td>
            <td></td>
            <td><label><input type="checkbox"></label></td>
          </tr>
          <tr>
            <td>CS 360 Team Meeting</td>
            <td>Discuss Project</td>
            <td>3:30 pm</td>
            <td>www.ourteamwebsite.com<br>
            	<a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ">www.youtube.com/watch?v=dQw4w9WgXcQ</a>
            </td>
            <td><label><input type="checkbox" checked></label></td>
          </tr>
          <tr>
            <td>ENGL 316 Write Essay</td>
            <td>5 pages</td>
            <td>11/19/13 12:00am</td>
            <td>How to Write.pdf</td>
            <td><label><input type="checkbox" checked></label></td>
          </tr>
        </tbody>
  </table>
  </div>
